[submodule "vendor/prelude"]
	path = vendor/prelude
	url = https://github.com/bbatsov/prelude.git
[submodule "themes/color-theme-solarized"]
	path = themes/color-theme-solarized
	url = https://github.com/sellout/emacs-color-theme-solarized.git
